@import '../../../../styles/partials/variable';
@import '../../../../styles/partials/mixins';

.wrapper {
  width: 100%;

  .cardImage {
    @include rem(padding-bottom, 24);

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .cardText {
    .cardDate {
      @include font-size(14);
      @include rem('padding-bottom', 12);
      @include rem('margin-bottom', 0);
      color: $granite;
    }

    .cardHeading {
      @include font-size(18);
      @include rem('padding-bottom', 8);
      @include rem('margin-bottom', 0);
      font-family: $ubuntu-bold;
      color: $baastrichtblue;
    }

    .cardDescription {
      @include font-size(16);
      color: $granite;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .readMore {
      @include rem('padding-top', 12);
      @include font-size(16);
      @include text-shadow($darkcharcoal);
      color: $darkcharcoal;
      display: block;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.cardLink {
  text-decoration: none;
  cursor: pointer;
}