// colours
$primary: #000;
$secondary: #fff;
$blue: #2d3c8c;
$purple: #912da0;
$granite: #666;
$snow: #fdf8f8;
$darkcharcoal: #333;
$mediumaquamarine: #5fc3aa;
$platinum: #e5e5e5;
$yankeesblue: #272b43;
$palegreen: #d9f4da;
$red: #fa221f;
$gainsboro: #dedede;
$windsortan: #b45e03;
$brightgray: #eaeaea;
$brightnavyblue: #0f73e2;
$greenblue: #0b5bb2;
$cultured: #f5f5f5;
$raisinblack: #222;
$ghostwhite: #f9f9f9;
$chinesesilver: #cacaca;
$antiflashwhite: #f3f3f3;
$denim: #0d67ca;
$spanishgray: #999;
$white-opaque-1: rgb(255 255 255 / 10%);
$aliceblue: #f4f6ff;
$beer: #fa911e;
$baastrichtblue: #0f142e;
$dolphingray: #808b83;
$white-opaque-1: rgb(255 255 255 / 10%);
$spanishsray: #979797;
$darkred: #d30a0a;
$alabaster: #e4f5e6;
$crayola: #13a180;
$seashell: #fff6ec;
$venetianred: #cc0909;
$deepsafron: #ff962d;
$verypaleorange: #f8ddc2;
$lavenderblush: #ffefef;
$palepink: #ffd7d7;
$lightsilver: #d1e8d3;
$culturedGrey: #f7f7f7;
$gainsboro: #dadce0;
$angorapink: #eae1eb;
// z-index
$zindex-0: 0;
$zindex-1: 1;
$zindex-2: 2;
$zindex-3: 3;
$zindex-4: 4;
$zindex-base: $zindex-0;
$zindex-header: $zindex-2;

// font-family
$ubuntu: 'Ubuntu', Helvetica, sans-serif;
$ubuntu-bold: 'UbuntuBold', Helvetica, sans-serif;
$icon-font: 'IconFont', sans-serif;
$source-sans-regular: 'SourceSansRegular', sans-serif;